STELLAR_TESTNET_BUYER_PUBLIC_KEY=GEXAMPLEBUYERPUBLICKEYREPLACE1234567890ABCDEFG
STELLAR_TESTNET_ISSUER_PUBLIC_KEY=GEXAMPLEISSUERPUBLICKEYREPLACE1234567890ABCDEF
STELLAR_TESTNET_TOKEN_CONTRACT=CEXAMPLETOKENCONTRACTREPLACE1234567890ABCDEFG
STELLAR_TESTNET_RECEIVER_CONTRACT=CEXAMPLERECEIVERCONTRACTREPLACE123456789ABCDE
STELLAR_TESTNET_USDC_ISSUER=GEXAMPLEUSDCISSUERREPLACE1234567890ABCDEFGHIJK
STELLAR_TESTNET_USDC_CONTRACT=CEXAMPLEUSDCCONTRACTREPLACE1234567890ABCDEFGH
